/* @font-face {
    font-family: 'FangSong_GB2312';
    src: url('FangSong_GB2312.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} */

body {
    padding: 0 10%;
    margin: 28.21mm auto;
    font: 12px/1.5 Tahoma, Helvetica, Arial, '宋体', sans-serif;
}

.coverPage h1,
.coverPage h2,
.coverPage h3 {
    text-align: center;
    font-family: Helvetica Neue;
}

.youyuanfont {
    font-family: "幼圆", "YouYuan", "Tahoma";
}

.coverPage .textLayoutBox {
    font-family: "华文新魏", "STKaiti";
    display: flex;
    align-items: center;
    justify-content: center;
}

.coverPage .textLayout {
    width: 15mm;
    word-wrap: break-word;
}

.secondPage h2 {
    text-align: center;
    font-family: Georgia;
}

.secondPage table {
    border-spacing: 0;
    font-family: STFangsong, FangSong, FangSong_GB2312;
}

table td,
table th {
    line-height: 8.255mm;
}

.secondPage .tip {
    color: #000;
}

h3 {
    font-family: Apple System, Noto Sans, Helvetica Neue;
}

.fangsong {
    /* font-family: STFangsong, FangSong, FangSong_GB2312; */
    font-family: Times New Roman;
}

fieldset {
    border: 0.353mm solid #5ab9b9;
    border-radius: 14mm;
    position: relative;
    width:139.75mm;
    height:70.54mm;
}

.fieldset {
    width: 84mm;
    height:78.66mm;
}

fieldset legend {
    text-align: center;
    background-color: #5ab9b9;
    color: #fff;
    padding: 1mm 5.64mm;
    border-radius: 4mm;
}

.legendBox {
    position: absolute;
    top: 50%;
    right: 17%;
    transform: translateY(-50%);
}

.legendBox .legend::after {
    content: '';
    position: absolute;
    color: #5ab9b9;
    background-color: #fff;
    font-size: 3.7mm;
}

.legendBox .bigCircle::after {
    content: '全区';
    top: -1.8mm;
    left: 50%;
    font-size: 3.23mm;
    transform: translateX(-50%);
    font-size: 3.23mm;
}

.legendBox .bigCircleText::after {
    content: '2017';
}

.legendBox .smallCircle::after {
    content: '学校';
    top: -1.6mm;
    left: 50%;
    font-size: 3.23mm;
    transform: translateX(-50%);
    font-size: 3.23mm;
}

.legendBox .smallCircleText::after {
    content: '2016';
}

.legendBox .bigCircle {
    height: 17.64mm;
    width: 17.64mm;
    border-radius: 50%;
    position: relative;
    border: 0.253mm solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.legendBox .smallCircle {
    height: 8.82mm;
    width: 8.82mm;
    border-radius: 50%;
    position: relative;
    border: 0.253mm solid #000;
}

.textIndent {
    text-indent: 10.59mm;
}

.middle {
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
    page-break-inside: avoid;
}

.pageFour h3 {
    font-family: '方正黑体_GBK'
}

.pageFour h4 {
    /* font-family: FangSong_GB2312; */
    font-family: STFangsong, FangSong, FangSong_GB2312;
    font-weight: normal;
    font-style: normal;
    font-size: 4.94mm;
    line-height: 7.06mm;
}

.pageFive .darkblack {
    font-weight: bold;
}

.coverPage {
    page-break-before: auto;
    page-break-after: always;
}

body fieldset {
    page-break-inside: avoid;
}

.title {
    font-family: "方正黑体_GBK";
}

.centertext {
    text-align: center;
}

.centerbox {
    display: flex;
    justify-content: center;
}

.boldtext {
    font-weight: bold;
}

.xiaochufont {
    font-size: 12.69mm;
}

.xiaochuLineHeight {
    line-height: 16.49mm;
}

.chuhaofont {
    font-size: 14.8mm;
    line-height: 19.28mm;
}

.doubleLineHeight {
    line-height: 6.5mm;
}

.maxLineHeight {
    line-height: 17.65mm;
}

.xiaoerfont {
    font-size: 6.35mm;
    line-height: 8.255mm;
}

.secondfont {
    font-size: 7.76mm;
    line-height: 10.09mm;
}

.thirdfont {
    font-size: 5mm;
    line-height: 7.06mm;
    margin-bottom: 7.06mm;
}

.fourthfont {
    font-size: 4.94mm;
    line-height: 6.42mm;
}

.fifthfont {
    font-size: 3.70mm;
}

.marktext {
    color: red;
}

@media print and (color) {
    * {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
}